/**********************************
GENERAL PRESETS
***********************************/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: url("../images/random_grey_variations.png");
  font-family: 'Josefin Slab', serif;
  font-size: 14px;
  font-weight: 100;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
}

input {
  display: block;
  width: 90%;
  height: 40px;
  margin: 30px auto 0;
  border-radius: 5px;
  background-color: #f0f8ff;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

/**********************************
GALLERY
***********************************/

#gallery ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 10px;
}

#gallery li {
  flex-basis: 48.5%;
}

#gallery {
  text-align: center;
  color: #4a4a4a;
}

#gallery div {
  text-transform: none;
  font-weight: 300;
}

#gallery div img {
  max-width: 100%;
  margin: 3px auto;
  border-radius: 3px;
  box-shadow: 0 0 10px #222;
}

#gallery div img:hover {
  cursor: pointer;
  transform: rotate(1deg);
  box-shadow: 0 0 10px #777;
}

/**********************************
TABLET MEDIA QUERIES
***********************************/

@media (min-width: 768px) {
  input {
    width: 45%;
  }
  #gallery {
    padding: 0 30px;
  }
  #gallery li {
    flex-basis: 33%;
  }
  #gallery div img {
    margin: 15px auto;
  }
}

/**********************************
DESKTOP MEDIA QUERIES
***********************************/

@media (min-width: 1024px) {
  input {
    width: 47%;
  }
  #gallery li {
    flex-basis: 25%;
  }
}
